#page-login {
    background: url('../../assets/bg.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}

#page-login .container{
    margin: 200px auto 0;
    max-width: 500px;
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#page-login .content {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    border-radius: 6px;
    padding: 30px;
    align-items: center;
}

#page-login .content form {
    display: flex;
    flex-direction: column;
}

#page-login .content form .InputWithIcons > input {
    margin-bottom: 30px;
    background: rgba(96, 105, 184, 0.8);
    border: 3px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0 60px;
    height: 50px;
    font-size: 20px;
    color: #FFFFFF;
    outline: none;
    width: 75%;
}
#page-login .content form .InputWithIcons input::placeholder{
    color: #FFFFFF;
}
#page-login .content form .InputWithIcons input:focus{
    border: 3px solid #2f0655;
    color: #2f0655;
}
#page-login .content form .InputWithIcons .icon{
    position: absolute;
    padding-top: 15px;
    padding-left: 20px;
    color: #FFFFFF;
}
#page-login .content form > button.btn {
    background: #3B0B67;
    mix-blend-mode: normal;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 45px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #FFFFFF;
    transition: opacity 0.8s;
}
#page-login .content form > button:hover{
    background: #2f0655;
}

#page-login .content form > a {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    transition: opacity 0.8s;
}
#page-login .content form > a > strong {
    color: #C51818;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}
#page-login .content form > a:hover {
    opacity: 0.8;
}
#page-login .content form > label {
    color: #FFFFFF;
    font-size: 20px;
   align-items: center;
   margin-bottom: 30px;
}

