@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
}
button {
    cursor: pointer;
}
body {
    font: 400 14px Roboto, sans-serif;
    background: url('../../assets/bg.jpg') no-repeat;
    -webkit-font-smoothing: antialiased !important;
}

.container{
    margin: 200px auto 0;
    max-width: 500px;
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.content {
    width: 100%;
    margin-top: 50px;
    border-radius: 6px;
    padding: 30px;
    align-items: center;
}

.content form {
    display: flex;
    flex-direction: column;
}

.content form > input {
    margin-bottom: 30px;
    background: rgba(96, 105, 184, 0.8);
    border: 3px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0 20px;
    height: 45px;
    font-size: 20px;
    color: #FFFFFF;
    outline: none;
}
.content form > input::placeholder{
    color: #FFFFFF;
}
.content form > input:focus{
    border: 3px solid #2f0655;
    color: #2f0655;
}
.content form > button.btn {
    background: #3B0B67;
    mix-blend-mode: normal;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 45px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #FFFFFF;
    transition: opacity 0.8s;
}
.content form > button:hover{
    background: #2f0655;
}

.content form > a {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    transition: opacity 0.8s;
}
.content form > a > strong {
    color: #C51818;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}
.content form > a:hover {
    opacity: 0.8;
}
.content form > label {
    color: #FFFFFF;
    font-size: 20px;
   align-items: center;
   margin-bottom: 30px;
}