#component-menu {
    height: 100%;
    margin: 0;
    padding: 0;
}

#component-menu section {
    width: 20%;
    height: 100%;
    position: fixed;
    background: #544664;
    opacity: 0.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: cover;
}

#component-menu section h1 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

#component-menu section ul {
    text-align: start;
    justify-content: start;
    list-style-type: none;
}

#component-menu section ul li {
    width: auto;
    margin: 30px 50px 0;
    color: #fff;
    justify-content: left;
    line-height: 1.5em;
}

#component-menu section ul li button {
    border: none;
    background: none;
    cursor: pointer;
    width: auto;
    color: #fff;
    font-size: 30px;
    padding-left: 30px;
}

#component-menu section ul li button label {
    font-size: 30px;
    margin-left: 20px;
}

#component-menu section ul li button label:hover {
    cursor: pointer;
}