#page-home {}

#page-home .content {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh 80vh;
    grid-gap: 40px;
    grid-template-areas: "w w w" "g g n";
    width: 80%;
    margin-left: 20%;
    height: 100%;
    background: #ffffff;
    position: fixed;
}

#page-home .content .widgets {
    background: #e5e5e5;
    grid-column: auto;
    grid-area: w w w;
}

#page-home .content .graph {
    background: #e5e5e5;
    grid-column: 1/2;
    grid-area: g;
}

#page-home .content .notifications {
    background: #e5e5e5;
    grid-column: 2/3;
    grid-area: n;
}