#component-header{

}
#component-header  header{
    display: flex;
    flex-direction: row;
    background: #533379;
    width: 100%;
    height: 50px;
    color: #ffffff;
    padding: 0 25px;
}

#component-header header h1 {
    padding-left: 22%;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 10px;
}

#component-header header .iconUser {
    position: absolute;
    right: 320px;
    top: 5px;
}

#component-header header .userName {
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    right: 150px;
    top: 10px;
}

#component-header header .iconAlert {
    position: absolute;
    right: 50px;
    top: 10px;
    transform: rotate(20deg);
}

#component-header header span {
    color: #fff;
    background-color: rgb(220, 0, 78);
    height: 20px;
    display: flex;
    padding: 0 6px;
    position: absolute;
    right: 38px;
    top: 5px;
    font-size: 0.75rem;
    min-width: 20px;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    font-weight: 500;
    align-content: center;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
}