@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

button {
    cursor: pointer;
}

html,
body,
#root {
    height: 100%;
}

body {
    display: block;
    font: 400 14px Roboto, sans-serif;
    -webkit-font-smoothing: antialiased !important;
}